---
layout: archive
author_profile: true
header:	
  image: black_keyboard.jpg
---

{% include base_path %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% assign items_grouped = paginator.posts | group_by: 'ref' %}
{% for group in items_grouped %}
  {% if group.items.size > 1 %}
    {% assign post = group.items | where: "lang",site.lang | first %}
  {% else %}
    {% assign post = group.items[0] %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}



  
